body {
  background-color: #f4f9ff;
}

table {
  background-color: #fffef7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border-radius: 3px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  padding: 0;
}

.board {
  margin-bottom: 1em;
}

.score {
  margin: auto;
  height: 2em;
}

.tile {
  font-size: 4em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px; 
}

.gameOver {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 17em;
  height: 17em;
  text-align: center;
  font-size: 1.5em;
  line-height: 13.5em;
}

.youWon {
  position: absolute;
  width: 17em;
  height: 17em;
  text-align: center;
  font-size: 1.5em;
  line-height: 6em;
}
